{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <h1 class="display-1">Stavka Narudzbenice</h1>
  </div>
  <div class="container">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Broj Fakture</th>
          <th scope="col">Kolicina</th>
          <th scope="col">Cena</th>
          <th scope="col">PDV</th>
          <th scope="col">Napomena</th>        
          <th scope="col">Sifra Artikla</th>
        </tr>
      </thead>
      <tbody>
        {% for na in data %}   
        <tr>
          <th scope="row">{{na.REDNIBROJ}}</th>
          <td>{{na.BROJFAKTURE}}</td>
          <td>{{na.KOLICINA.VREDNOST}}</td>
          <td>{{na.CENA}}</td>
          <td>{{na.PDV}}</td>
          <td>{{na.NAPOMENA}}</td>
          <td>{{na.SIFRAARTIKLA}}</td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    </div>

    <div class="p-3 mb-2 bg-dark text-white" >
      <h2 class="text-center">Insert Stavka Fakture</h2>
    </div>

    <div>
      <form action="/insertStaF/" method="POST">
        {% csrf_token%}
        <div class="form-group row">
          <label for="rednibroj" class="col-sm-2 col-form-label">Redni Broj</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="rednibroj" name="rednibroj" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="brojfakture" class="col-sm-2 col-form-label">Broj Fakture</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="brojfakture" name="brojfakture" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="kolicina" class="col-sm-2 col-form-label">Kolicina</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="kolicina" name="kolicina" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="cena" class="col-sm-2 col-form-label">Cena</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="cena" name="cena" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="pdv" class="col-sm-2 col-form-label">PDV</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="pdv" name="pdv" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="napomena" class="col-sm-2 col-form-label">Napomena</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="napomena" name="napomena" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="sifraartikla" class="col-sm-2 col-form-label">Sifra Artikla</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="sifraartikla" name="sifraartikla" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" data-toggle="alert">Insert</button>
                      {% if messages %}
                        {% for message in messages %}
                        {%if "insert" in message.tags %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        {%endif%}
                        </div>
                        {% endfor %}                    
                    {% endif %}
          </div>
        </div>
      </form>
    </div>

    <div class="p-3 mb-2 bg-dark text-white" >
      <h2 class="text-center">Update Stavka Fakture</h2>
    </div>

    <div>
      <form action="/updateStaF/" method="POST">
        {% csrf_token%}
        <div class="form-group row">
          <label for="rednibroj" class="col-sm-2 col-form-label">Redni Broj</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="rednibroj" name="rednibroj" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="brojfakture" class="col-sm-2 col-form-label">Broj Fakture</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="brojfakture" name="brojfakture" >
          </div>
        </div>
        <div class="form-group row">
          <label for="kolicina" class="col-sm-2 col-form-label">Kolicina</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="kolicina" name="kolicina">
          </div>
        </div>
        <div class="form-group row">
          <label for="cena" class="col-sm-2 col-form-label">Cena</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="cena" name="cena" >
          </div>
        </div>
        <div class="form-group row">
          <label for="pdv" class="col-sm-2 col-form-label">PDV</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="pdv" name="pdv" >
          </div>
        </div>
        <div class="form-group row">
          <label for="napomena" class="col-sm-2 col-form-label">Napomena</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="napomena" name="napomena" >
          </div>
        </div>
        <div class="form-group row">
          <label for="sifraartikla" class="col-sm-2 col-form-label">Sifra Artikla</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="sifraartikla" name="sifraartikla" >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" data-toggle="alert">Update</button>
                      {% if messages %}
                        {% for message in messages %}
                        {%if "update" in message.tags %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        {%endif%}
                        </div>
                        {% endfor %}                    
                    {% endif %}
          </div>
        </div>
      </form>
    </div>


    <div class="p-3 mb-2 bg-dark text-white" >
      <h2 class="text-center">Delete Stavka Fakture</h2>
    </div>

    <div>
      <form action="/deleteStaF/" method="POST">
        {% csrf_token%}
        <div class="form-group row">
          <label for="rednibroj" class="col-sm-2 col-form-label">Redni Broj</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="rednibroj" name="rednibroj" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="brojfakture" class="col-sm-2 col-form-label">Broj Fakture</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="brojfakture" name="brojfakture" >
          </div>
        </div>
        <div class="form-group row">
          <label for="kolicina" class="col-sm-2 col-form-label">Kolicina</label>
          <div class="col-sm-1">
            <input type="text" class="form-control" id="kolicina" name="kolicina">
          </div>
        </div>
        <div class="form-group row">
          <label for="sifraartikla" class="col-sm-2 col-form-label">Sifra Artikla</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="sifraartikla" name="sifraartikla" >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" data-toggle="alert">Delete</button>
                      {% if messages %}
                        {% for message in messages %}
                        {%if "delete" in message.tags %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        {%endif%}
                        </div>
                        {% endfor %}                    
                    {% endif %}
          </div>
        </div>
      </form>
    </div>
{% endblock %}